name: 'Auto Author Assign'
# See: https://github.community/t/resource-not-accessible-by-integration-assigning-author/136391

on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/head
      - uses: toshimaru/auto-author-assign@v1.3.3
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
